.close, .open{
    display: none;
}

.navbar {
    width: 70%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: .5px solid gray;
    text-transform: uppercase;

    .logo {
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        display: flex;
        font-size: 14px;

        
        
    }

    li {
        margin-left: 1.3em;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    
}

.hero {
    width: 1080px;
    height: 450px;
    margin: 5em auto ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.left-col {
    display: flex;
    align-items: center;
    justify-content: center;
    .planet-img {
        width: 400px;
        height: 400px;
    }
}

.right-col {
    width: 300px;
    text-align: left;
    padding-left: 75px;

    h1 {
        margin: 0;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        color: #807e83;
        span {
        color: #b3b2b2;
        }
    }

    a {
        text-decoration: none;
        color: gray;
        font-weight: bold;
        margin-left: .5em;
    }

    input[type=radio] {
      display: none;
    }

    // form input[type="radio"]:checked + label {
    //     background-color: #6d2ed5;
    // }

    input {
        display: none;
    }

    form {
        display: grid;
    }

    label {
        padding: .9em 2em;
        font-family: monospace;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 1em;
        border: 1px solid #747277;

        &:hover {
            cursor: pointer;
            background-color: #6d2ed5;
        }

        span {
            margin-right: 1.2em;
            color: gray;
        }

        .extra {
            margin: 0;
            color: white;
        }

    }
}

.planet-geo {
    width: 150px;
    height: auto;
    position: absolute;
    transform: translateX(-1000%) ;
} 


.active {
     transform: translateX(0%);
    
}

.features {
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    

    .stats {
        border: 1px solid #747277;
        padding: .5em 1em .5em .5em;
        margin-bottom: 3em;

        p {
            margin:0;
            font-size: 10px;
            font-weight: bold;
            font-family: monospace;
            color: #747277;
        }

        h1 {
            margin: 0;
        }

        
    }
}

@media only screen and (max-width: 850px) {

    .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: auto;

        .logo {
            font-size: 2em;
        }

        .planets {
            width: auto;
            margin: auto;
            padding: 2em 0;
            justify-content: center;

            li {
                padding: .5em;
                font-size: 1.2em;
            }
        }
    }

    .hero {
        width: auto;
        height: auto;
        grid-template-columns: repeat(1, 1fr);

        .right-col {
            width: auto;
            height: 250px;
            margin: 0;
            padding-right: 3em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;

            .form {
                text-align: left;
                
            }

            label {
                display: flex;
                align-items: center;
            }

        }

    }

    .features {
        width: 95%;
        font-size: .9em;
    }

}

@media only screen and (max-width: 500px) {

    body {
        width: auto;
    }

    .nav-left {
        .open {
            position: relative;
            display: flex;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        margin-top: -.8em;
        margin-bottom: .5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .nav {
        
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: #1b1753;
        color: #ffffff;
        transform: translateX(100%);
        transition: .5s ease-out;
        z-index: 999;

        .close {
            display: block;
            margin: 1em;
            
            
            &:hover {
            cursor: pointer;
            transform: scale(1.1);
            }         
        }

        .planets {
            display: grid;
            text-align: center;
            padding-top: 0;

            li {
                margin: 0;
                padding: 1em;
                font-size: 1.2rem;
            }
        }
    }

    .display {
        transform: translateX(0%);
        transition: .5s ease-out;
    }

    .hero {
        width: auto;
        margin:7em auto 1em auto;

        .planet-img {
            width: 250px;
            height: 250px;
        }

        .form {
            width: 100%;
            position:absolute;
            display: flex;
            justify-content: space-evenly;
            top: 3em;
            left: 0;
            margin-bottom: 1em;
            border-bottom: 1px solid #b3b2b2;

            label {
                border: none;
                padding: .5em 0 .8em 0;
                span {
                    display: none;
                }

                &:hover {
                    background: none;
                    text-decoration:underline;
                }
            }
            
        }

        .right-col {
            width: 75%;
            display:flex;
            text-align: center;
            padding: 0;
            margin: auto;
        }
    }

    .features {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: auto;
        padding-bottom: 3em;

        .stats {
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5em;

            p {
                font-size: 16px;
            }
        }
    }

}